.main {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.left_side {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right_side {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title-box {
    background-color: #2200ff;
    color: white;
    padding: 20px;
    text-align: center;
}

.image-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    width: 100%;
    height: auto;
}

.content {
    background-color: #2200ff;
    color: white;
    padding: 20px;

}

.link {
    background-color: #2200ff;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.link ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.link a {
    color: white;
    text-decoration: none;
}

h1.title {
    margin: 0;
}

@media (max-width: 700px) {

    .main {
        flex-direction: column;
    }

    .left_side,
    .right_side {
        width: 100%;
    }
}